# Core
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/odds_db
PYTHON_API_URL=http://ml:8000
JWT_SECRET=your_secret

# External APIs
GROQ_API_KEY=your_groq_key

# Upstash
UPSTASH_REDIS_REST_URL=your_url
UPSTASH_REDIS_REST_TOKEN=your_token